p {
	color: darkcyan;
}
li {
	font-size: 130%;
	background-color: darkgreen;
	color: red;
}
div li {
/*	font-size: 80%;*/
	background-color: red;
	color: gold;

}

/* 盒子模型 */
/* 用以下样式 content 标签的宽度为 140 像素，因为： */
/* 宽度 100px + 填充（左 10px + 右 10px ） + 边框（左 10px + 右 10px ） = 140px。
边距并不定义方框的宽度。它只是定义了其他元素应被推开的距离 */
content {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  width: 100px;
  border: 1px solid black;
}

/* 用以下样式 content 标签的宽度为 100 像素，因为： */
/* 由于设置了 box-sizing: border-box，
因此方框的宽度（包括填充和边框）将限制为指定的宽度：100px。 */
/*content {
	display: block;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  width: 100px;
  border: 10px solid black;
  box-sizing: border-box;
}*/

/* 伪类选择器 */
a:link, a:visited {
	text-decoration: none;
	background-color: gold;
	border: 1px solid blue;
	color: !important;
	display: block;
	width: 500px;
	text-align: center;
	margin-bottom: 1px;
}
a:hover, a:active{
	background-color: gray;
	color: blue;
}